.custom-modal {
    &__container {
        padding: 1.6rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        margin-top: 1.6rem;
    }
} 